[contenteditable="true"]:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
}

.group {
  position: relative;
}

.custom-form {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  input[type="month"],
  select {
    background: $yellow;
    font-family: $body-font-family;
    text-transform: none;
    outline: none;
    border: none;
    width: 100%;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 0;
    font-size: 1.25rem;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="url"]:focus,
  input[type="tel"]:focus,
  input[type="month"]:focus,
  select:focus,
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="date"]:hover,
  input[type="number"]:hover,
  input[type="search"]:hover,
  input[type="url"]:hover,
  input[type="tel"]:hover,
  input[type="month"]:hover,
  select:hover
  {
    outline: none;
    background: scale-color($yellow, $lightness: +15%);;
  }

  label {
    color: inherit;
    font-family: $header-font-family;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: .55rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    @include breakpoint(large) {
      top: .35rem;
    }
  }

  /* full state */
  input.input-full ~ label,
  select ~ label {
    top: .15rem;
    font-size: 1rem;
    @include breakpoint(large) {
      top: .15rem;
    }
  }

  /* focused state */
  input:focus ~ label,
  select:focus ~ label {
    top: .15rem;
    font-size: 1rem;
    @include breakpoint(large) {
      top: .15rem;
    }
  }

  .dropdown label {
    width: 100%;
  }

  .dropdown label::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2.25rem;
    right: .5rem;
    width: 0; 
    height: 0; 
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-top: .4rem solid $white;
  }

  .dropdown select:focus ~label::after {
      border-top: .4rem solid $primary-color;
  }

  .form-error {
    position: absolute;
    left: .35rem;
    top: 3rem;
  }
  .button {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    @include breakpoint(large) {
      background: $black;
      color: $white;
//      margin-bottom: 2rem;
      padding-top: .9rem;
    }
    span {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }
}

.response {
  padding: 1rem;
}

#mce-EMAIL,
#mc-embedded-subscribe {
  height: 4rem;
  @include breakpoint(large) {
    height: 3.5rem;
    width: 100%;
  }
}
#mce-EMAIL {
  @include breakpoint(medium) {
    padding-top: 1rem;
  }
  @include breakpoint(large) {
    background: $white;
  }
}
.mc-field-group {
  @include breakpoint(large) {
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
}