html {
  background: $white;
}

body,
.body {
  height: 100%;
  background: $white;
  overflow-x: hidden;
}

.grid-padding-y .cell {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid-padding-x .cell {
  padding-right: 1rem;
  padding-left: 1rem;
}

.slideshow {
  position: relative;
  -webkit-transition: all .3s ease-in-out .3s;
  -moz-transition: all .3s ease-in-out .3s;
  -o-transition: all .3s ease-in-out .3s;
  transition: all .3s ease-in-out .3s;
  text-align: center;
  height: 100%;
  width: 100%;
}

.slide:first-child {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.get-in-touch {
  label,
  input {
    display: inline-block;
    width: auto;
  }
}

.grid-padding-x .grid-padding-x {
  margin-left: -1rem;
  margin-right: -1rem;
}

.large-protect-width {
  @include breakpoint(large) {
    max-width: 48em;
  }
}