  <div class="cell small-12 medium-8 large-12 xlarge-8">
    <div class="grid-x grid-padding-x grid-padding-y">
      <h2 class="h3 cell small-12">Office Leasing</h2>
      <p class="cell small-12 medium-6 mb0">
        <span class="h5">Spencer Stouffer</span><br>
        spencer.stouffer@cushwake.com<br>
        <a href="tel:703-770-3462" class="no-link-style">703.770.3462</a>
      </p>
      <p class="cell small-12 medium-6 mb0">
        <span class="h5">Moe Hamilton</span><br>
        moe.hamilton@cushwake.com<br>
        <a href="tel:703-847-2770" class="no-link-style">703.847.2770</a>
      </p>
      <p class="cell small-12 medium-6 mb0">
        <span class="h5">Josh Masi</span><br>
        josh.masi@cushwake.com<br>
        <a href="tel:703-847-2766" class="no-link-style">703.847.2766</a>
      </p>
      <p class="cell small-12 medium-6 mb0">
        <span class="h5">Matt Bundy</span><br>
        matt.bundy@cushwake.com<br>
        <a href="tel:703-847-2767" class="no-link-style">703.847.2767</a>
      </p>
      <p class="cell small-12 medium-6 mb0">
        <span class="h5">Jeanette Ko</span><br>
        jeanette.ko@cushwake.com<br>
        <a href="tel:703-847-2769" class="no-link-style">703.847.2769</a>
      </p>

    </div>
  </div>
  <div class="cell small-12 medium-4 large-12 xlarge-4">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-12 show-for-small-only">
        <hr class="mt0 mb0">
      </div>
      <div class="cell small-12 show-for-large-only">
        <hr class="mt0 mb0">
      </div>
      <h2 class="cell small-12 h3 pb1">Retail Leasing</h2>
      <p class="cell small-12 pt1 mb0">
        <span class="h5">Dave Ward</span><br>
        dward@hrretail.com<br>
        <a href="tel:240-482-3617" class="no-link-style">240.482.3617</a>
      </p>
      <p class="cell small-12 pt1 mb0">
        <span class="h5">Brad Buslik</span><br>
        bbuslik@hrretail.com<br>
        <a href="tel:240-482-3609" class="no-link-style">240.482.3609</a>
      </p>
    </div>
  </div>