<div id="popup-cookie-consent" style="display: none;" class="cookie-consent small-bg-white small-color-black pt1 pl1 pr1 pb1">
  <div id="popup-close" class="button-cookie-consent"><span class="close-icon"></span></div>
  <p class="h5">Cookie Information and Consent Request</p>
  <p class="h5 pt025">Brookfield Properties Cookie Policy</p>
  <p class="pt05 pb05 mb0 small">This website uses cookies, including third-party cookies, which allow Brookfield Properties to obtain information about your visit to the website. Please click the &ldquo;Learn More&rdquo; link below if you would like more information about the cookies used on this website. By continuing to use this website, you consent to the use of cookies.</p>
  <p class="mt0 pt0 small"><a href="{{root}}/documents/terms#section-cookie-policy">Learn More</a></p>
<!--  <hr>-->
<!--  <button class="button-cookie-consent button special"><span class="u">CONTINUE</span></button>-->
</div>