<div class="cell small-12 medium-4 large-12 xlarge-4 pt0 pb0">
  <a href="https://www.brookfieldproperties.com"><img alt="Brookfield Properties" src="{{root}}assets/img/brookfield_properties-logo.png"></a>
</div>
<div class="cell small-12 medium-8 large-12 xlarge-8 align-self-bottom pb0">
  <p class="small small-text-left medium-text-right large-text-left xlarge-text-right mb0"><a href="{{root}}/documents/terms#section-privacy-policy">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{root}}/documents/terms#section-cookie-policy">Cookie Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{root}}/documents/terms">Terms &amp; Conditions</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <br class="show-for-small-only">
    <br class="show-for-small-only">
    <br class="show-for-large-only">
    <br class="show-for-large-only">
    &copy;2018 Halley Rise
  </p>
</div>