<noscript>
  <p style="width: 100%; padding: .25rem; background:#000000; color:#ffffff; text-align:center;">Enable javascript and use a modern web browser for the best browsing experience.</p>
</noscript>
<header>
  <div class="grid-x mt1 ml1 mr1 align-bottom">
    <div class="cell small-3">
      <a href="{{root}}"><img alt="Home" src="http://placehold.it/44x230"></a>
    </div>
<!--
      <button id="menu-button">
        <div id="menu-icon" class="is-menu-icon"></div>
      </button>
-->
    <nav class="cell small-9 text-right menu-container">
      <ul class="vertical menu align-right">
        <li><a href="{{root}}">home</a></li>
        <li><a href="{{root}}studios/index.html">studios</a></li>
        <li><a href="{{root}}events/index.html">events</a></li>
        <li><a href="{{root}}contact/index.html">contact</a></li>
      </ul>
    </nav>
  </div>
</header>