<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">

<script type="text/javascript">
    (function() {
        var trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = 'https://easy.myfonts.net/v2/js?sid=247429(font-family=FF+Mark+Pro+Book)&key=2Y0lazuCBt';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<script type="text/javascript">
    (function() {
        var trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = 'https://easy.myfonts.net/v2/js?sid=305617(font-family=RF+Rufo+Semibold)&key=eY7TSpWjXL';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>